<form method="POST" action="/new">
	<input type="text" name="d" placeholder=" Gotive description" />
	<fieldset>
		<p>
			<input type="text" name="n" placeholder=" filename "/>
		</p>
		<p>
			<textarea name="c" cols="120" rows="40"></textarea>
		</p>
	</fieldset>
	<fieldset>
		<p>
			<input type="text" name="n" placeholder=" filename "/>
		</p>
		<p>
			<textarea name="c" cols="120" rows="40"></textarea>
		</p>
	</fieldset>
	<fieldset>
		<p>
			<input type="text" name="n" placeholder=" filename "/>
		</p>
		<p>
			<textarea name="c" cols="120" rows="40"></textarea>
		</p>
	</fieldset>
	<p>
		<input type="submit" value="Create New Gotive"/>
	</p>
</form>
